.save-button {
    all: unset;
    background-color: var(--button-bg-color);
    display: flex;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 100px);
    bottom: 36px;
    border-radius: 50px;
    justify-content: center;
    cursor: pointer;
    padding: 16px;
}

.button-container {
    display: inline-flex;
    justify-content: center;
    padding: 0 16px;
}