.journal-card-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.journal-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.journal-card {
    background: var(--primary-block-color);
    border-radius: 16px;
    width: 100%;
    padding: 0;
    margin: 16px 0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: var(--primary-font-color);
}

.journal-card-image {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

.journal-card-content {
    padding: 16px;
}

.journal-card-name-text {
    font-weight: 600;
    font-size: 16px;
    color: var(--primary-font-color);
}

.journal-card-roaster-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.journal-card-roaster,
.journal-card-origin,
.journal-card-notes {
    font-size: 12px;
    color: var(--primary-font-color);
}