.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 30px 0;
    background: var(--accent-gradient);
    padding: 16px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.10);
    z-index: 1000;
}

.header-text {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-home .header-text {
    flex-direction: column;
    align-items: flex-start;
}

.back-button {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

.searchbar {
    width: 100%;
    margin: 12px 0;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid var(--secondary-font-color);
}