.navbar {
    display: flex;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 36px;
    /*justify-content: space-between;*/
    width: calc(100% - 36px);
    background: var(--accent-gradient);
    border-radius: 50px;
}

.navbar-list {
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-around;
    align-items: center;

}
